body {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e;
  font-family: "Courier New", Courier, monospace;
  color: #00ff7f;
  margin: 0;
}

.terminal-container {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border-radius: 8px;
}

.terminal {
  display: flex;
  flex-direction: column;
}

.output {
  margin-bottom: 10px;
  white-space: pre-wrap;
}

#terminal-input {
  background: transparent;
  border: none;
  outline: none;
  color: #00ff7f;
  font-size: 16px;
  width: 100%;
}

#terminal-input::placeholder {
  color: #555;
}
