body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0rem 2rem 0rem 2rem;
}

.gallery {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 550px; /* Set a maximum height for the gallery */
  overflow-y: scroll; /* Enable vertical scrolling */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

/* Optional: Style the scrollbar */
.gallery::-webkit-scrollbar {
  width: 8px;
}

.gallery::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.gallery::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.preview-section {
  flex: 1;
  margin-left: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 500px;
  overflow-y: auto;
}

/* Optional: Style the scrollbar */
.preview-section::-webkit-scrollbar {
  width: 8px;
}

.preview-section::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.preview-section::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  width: 10%;
}

/* Hide the file input */
input[type="file"] {
  display: none;
}

/* Custom button */
.custom-button {
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 0.9em;
  cursor: pointer;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

.custom-button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.custom-button:hover {
  background-color: #0071e2;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 15px;
  padding: 15px;
  width: 225px;
  height: max-content;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.file-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
  overflow: hidden;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 2rem;
}

.button-group a {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  text-decoration: none;
}

.button-group a:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-group a:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-group form button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-group a:focus {
  outline: 1px transparent;
}

.button-group a:before {
  display: none;
}

.button-group a:-webkit-details-marker {
  display: none;
}

.button-group form button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-group form button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-group form button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-group form button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-group form button:focus {
  outline: 1px transparent;
}

.button-group form button:before {
  display: none;
}

.button-group form button:-webkit-details-marker {
  display: none;
}

/* Preview section */
.preview-section img,
.preview-section embed,
.preview-section iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.preview-section p {
  margin: 10px 0;
  color: #555;
}
